.navbar-fixed-bottom,
.navbar-fixed-top {
    z-index: 1000 !important;
}
.navbar #logo {
    margin-right: 28px;
}
@media (max-width: 1200px) {
    #logo {
        display: none;
    }
}

.carousel-centered {
    padding: 55px 21% 55px 13%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
}