{% extends 'base.html' %}
{% load static %}
{#{% load webp_converter %}#}
{% load thumbnail %}
{% block body %}
  <!--========== PARALLAX ==========-->
  <div class="uk-height-medium uk-background-cover uk-light uk-flex" uk-parallax="bgy: -300" style='background-image: url({% static "/img/1920x1080/01.jpg" %});'>
    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">{{ title }}</h1>
  </div>
  <!--========== PARALLAX ==========-->

  <!--========== PAGE LAYOUT ==========-->
  <div class="content-lg container">
    {#        <div class="row margin-b-40">#}
    {#            <div class="col-sm-6">#}
    {#                <h2>{{ category.names }}</h2>#}
    {#<p>{{ product_type.text }}</p>#}
    {#            </div>#}
    {#        </div>#}

    <div class="row margin-b-50">
      {% for product in products %}
        <div class="col-sm-4 sm-margin-b-50">
          <a href="{% url 'shop:product' product.id %}">
            <div class="margin-b-20 ">
              <div class="wow zoomIn uk-inline-clip uk-transition-toggle" data-wow-duration=".3" data-wow-delay=".1s">
                {% thumbnail product.imgs.all.0.image "300x185" crop="center" as im %}
                  <img class="img-responsive"
                       src="{{ im.url }}"
                       width="{{ im.width }}"
                       height="{{ im.height }}"
                       alt="{{ product.description }}">
                {% endthumbnail %}
                {% thumbnail product.imgs.all.1.image "300x185" crop="center" as im %}
                  <img class="uk-transition-scale-up uk-position-cover"
                       src="{{ im.url }}"
                       width="{{ im.width }}"
                       height="{{ im.height }}"
                       alt="{{ product.description }}">
                {% endthumbnail %}
              </div>
            </div>
          </a>
{#          <h3>{{ product.type_title }}</h3>#}
          <p>{{ product.title }}</p>
          {#                    <a class="link" href="/product/?id={{ product.id }}">Подробнее</a>#}
        </div>
      {% endfor %}
    </div>
  </div>
  <!--========== END PAGE LAYOUT ==========-->
{% endblock %}
