{% extends 'base.html' %}
{% load static %}
{% block title_content %}
    {{ title }}
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static '/css/for-page/index.css' %}">
{% endblock %}

{% block body %}
    {% include 'modules/slider.html' %}

    {% include 'modules/topsale-products.html' %}

    {% include 'modules/works.html' %}

    {% include 'modules/services.html' %}

    {% include 'modules/our-clints.html' %}

    {% include 'modules/testimonials.html' %}

    <!-- Pricing -->
    {#{% include 'modules/pricing.twig' %}#}
    <!-- End Pricing -->

    {#<!-- Promo Section -->#}
    {#{% include '../modules/promo-section.twig' %}#}
    {#<!-- End Promo Section -->#}

    <!--========== END PAGE LAYOUT ==========-->

{% endblock %}
