{% extends '../base.twig' %}

{% block title_content %}
    {{ product[0].type }}
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="/js/components/addToCardBtn.js"></script>
{% endblock %}

{% block body %}
    <!--========== HEADER ==========-->
    {% include '../modules/header.twig' %}
    <!--========== END HEADER ==========-->

    <!--========== PARALLAX ==========-->
    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -300" style="background-image: url('/img/1920x1080/01.jpg');">
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">{{ title }}</h1>
    </div>
    <!--========== PARALLAX ==========-->

    <!--========== Контент продукта ==========-->
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>{{ product[0].title }} - {{ product[0].price }}р.</h2>
                <p>{{ product[0].description }}</p>
            </div>
            <div class="col-sm-6">
                <button  class="uk-button uk-button-primary uk-button-large pull-right" onclick="addToCardBtn('{{ settings.schema ~ settings.host ~ '/add-to-card?id=' ~ product[0].id }}'); return !1;">Добавить в корзину</button>
            </div>
        </div>

        <div uk-lightbox class="row margin-b-50">
            {% for img in product[0].img %}
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <a class="uk-button" href="{{img.src}}"><img class="img-responsive uk-card-hover" src="{{img.src}}" alt="Our Exceptional Solutions Image"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p>{{ product.text }}</p>
        </div>
    </div>
    <!--========== END Контент продукта ==========-->

    <!--========== FOOTER ==========-->
    {% include '../modules/footer.twig' %}
    <!--========== END FOOTER ==========-->
{% endblock %}
