{% extends 'base.html' %}

{% load static %}
{#{% load webp_converter %}#}
{% block additional_css %}
{#  <link href="{% static '/lib/admin/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">#}
  <link href="{% static '/css/for-page/cart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title_content %}{{ title }}{% endblock %}

{% block body %}
  <!--========== PARALLAX ==========-->
  {% if cart %}
    <div class="uk-height-medium uk-background-cover uk-light uk-flex" uk-parallax="bgy: -300" style="background-image: url('/static/img/1920x1080/01.jpg');">
      <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Ваша корзина товаров</h1>
    </div>
  {% else %}
{#    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -100" style="background-image: url('/img/cart/_empty2.jpg');">#}
{#      <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">{{ title }}</h1>#}
{#    </div>#}
    <img src="{% static '/img/cart/empty2.jpg' %}" alt="img">
  {% endif %}
  <!--========== END PARALLAX ==========-->

  <!--========== CART ==========-->
  {% if cart %}
    <script src="{% static '/js/cart/shoping-cart.js' %}" defer></script>
    <script src="{% static '/js/cart/validation.js' %}" defer></script>
    <div class="content-lg container">
      <div class="row margin-b-40">
        <div class="col-sm-12">
{#          <div class="col-sm-2"></div>#}
{#          <div class="col-sm-8">#}
            <div class="row margin-b-50">
              <div id="cart">
                <form id="make-order-form" action="{% url 'cart:CartUpdate' %}">
                  <table class="uk-table uk-table-striped uk-table-hover uk-table-middle">
                    <caption></caption>
                    {% for item in cart %}
                      {% with product=item.product %}
                        <tr id="product-{{ product.id }}" class="product-cart-item">
                          <td>
                            <a onclick="cartRequest('rm', '{{ product.id }}'); return !1;">
                              <i class="fas fa-minus-circle"></i>
                            </a>
                          </td>
                          <td class="uk-table-link" width="100px">
                            <a href="{% url 'shop:product' product.id %}">
                              <img width="80px" src="{% static '..'|add:product.imgs.all.0.image.url %}" alt="{{ product.title }}">
                            </a>
                            <input type="hidden" class="product-id" name="pid-{{ product.id }}" value="{{ product.id }}">
                          </td>
                          <td>{{ product.title }}</td>
                          <td>
                            <label for="p_quantity">Количетсво</label>
                            <input name="quantity-{{ product.id }}"
                                   type="number"
                                   class="p_quantity"
                                   min="1"
                                   max="999"
                                   value="{{ item.quantity }}"
                                   onchange="calculateTotalPrice()">
                          </td>
                          <td>
                            <label uk-tooltip="Обсуждается индивидуально.">
                              <input id="engr-product-{{ product.id }}"
                                     class="uk-checkbox engraving"
                                     type="checkbox"
                                     name="engr-product-{{ product.id }}"
                                     onchange="addEngraving('{{ product.id }}')"
                                     {% if item.engraving %}checked{% endif %}>
                              С гравировкой
                            </label>
                          </td>
                          <td>
                            <span id="product-price" class="price product-price">
                              {% if item.price %}
                                {{item.price}}
                              {% else %}
                                {{product.price }}
                              {% endif %}
                            </span>
                            <span>₽</span>
                          </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                      <tfooter>
                        <tr>
                          <td colspan="5">Предаварительная сумма заказа</td>
                          <td><span class="totalPrice"></span><span>₽</span></td>
                        </tr>
                      </tfooter>
                  </table>
                  <div class="uk-flex uk-flex-around">
                    <button type="submit" id="make-order-btn" class="uk-button uk-button-default request" uk-toggle="target: #modal-request-buy">
                      Оставить заявку
                    </button>
                  </div>
                </form>
              </div>
            </div>
{#          </div>#}
{#          <div class="col-sm-2"></div>#}
        </div>
      </div>
    </div>





    <!-- This is the modal form -->
    <div id="modal-request-buy" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Оставьте контактные данные для связи</h2>
        <form action="{% url 'cart:CartSubmit' %}" method="post" class="request-from validation" id="confirm-order-form">
          {% csrf_token %}
          {{ submit_order_form }}
{#          <label for="contactName">Ваше имя</label>#}
{#          <input type="text" name="contact_name" id="contact_name" class="uk-input" required>#}
{#          <label for="contact_type">Выберите удобный способ связи</label>#}
{#          <select name="contact_type" id="contact_type" class="uk-select">#}
{#            {% for type, val in configs.contactTypeList.items %}#}
{#              <option name="contact_type" value="{{ type }}">{{ val }}</option>#}
{#            {% endfor %}#}
{#          </select>#}
{#          <label for="contactData">Контактные данные</label>#}
{#          <input type="text" class="uk-input" name="contact_data" id="contact_data" required>#}

          <p class="uk-text-right uk-margin-top">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <button id="request-btn-submit" class="uk-button uk-button-secondary" type="submit" disabled="disabled">Отправить</button>
          </p>
        </form>
      </div>
    </div>
    <!-- Modal END -->




    <!-- This is the modal sumbit -->
    <div id="modal-submit-buy" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Спасибо за Ваш выбор!</h2>
          <p class="uk-text-left uk-margin-top">
            Ваш заказ принят в обработку, с Вами свяжутся в ближайшее время.
            Хорошего дня!
          </p>
      </div>
    </div>


    <!-- Modal END -->
  {% endif %}
  <!--========== END CART ==========-->
{% endblock %}
