<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <table>
    <caption></caption>
    {% for item in cart %}
      {% with product=item.product %}
        <tr id="product-{{ product.id }}" class="product-cart-item">
          <td>
            <a href="{{ host }}/{% url 'shop:product' product.id %}">{{ product.title }}</a>
          </td>
          <td>
            <span>Количество: {{ item.quantity }}</span>
          </td>
          <td>
            <span>Гравировка: {{ item.engraving }}</span>
          </td>
          <td>
            <span>Цена за еденицу: {% if item.price %}{{ item.price }}{% else %}{{ product.price }}{% endif %}</span><span>₽</span>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
  </table>
  <hr>
  <p>Предварительная сумма заказа: {{ cart.get_total_price }}<span>₽</span></p>
  <hr>
  <div>
    <p>Заказчик: {{ contact_name }}</p>
    <p>{{ contact_type }}: {{ contact_data }}</p>
  </div>
</body>
</html>
