{% extends 'base.html' %}

{% load static %}

{% block additional_css %}
{#  <link href="{% static '/lib/admin/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">#}
  <link href="{% static '/css/for-page/cart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block additional_js %}
  <!-- версия для разработки, отображает полезные предупреждения в консоли -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block title_content %}
  {{ title }}
{% endblock %}

{% block body %}
  <!--========== PARALLAX ==========-->
  {% if cart %}
    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -300" style="background-image: url('/static/img/1920x1080/01.jpg');">
      <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Ваша корзина товаров</h1>
    </div>
  {% else %}
{#    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -100" style="background-image: url('/img/cart/_empty2.jpg');">#}
{#      <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">{{ title }}</h1>#}
{#    </div>#}
    <img src="{% static '/img/cart/_empty2.jpg' %}" alt="img">
  {% endif %}
  <!--========== END PARALLAX ==========-->

  <!--========== CART ==========-->
  {% if cart %}
    <div class="content-lg container">
      <div class="row margin-b-40">
        <div class="col-sm-12">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row margin-b-50">
              <div id="cart">
                ${ msg }
{#                <cart :products="products"></cart>#}
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>

    <!-- This is the modal form -->
    <div id="modal-request-buy" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Оставьте контактные данные для связи</h2>
        <form action="{% url 'cart:CartSubmit' %}" method="post" class="request-from" id="confirm-order-form">
          {% csrf_token %}
          <label for="contactName">Ваше имя</label>
          <input type="text" name="contactName" id="contactName" class="uk-input" required>
          <label for="contactType">Выберите удобный способ связи</label>
          <select name="contactType" id="contactType" class="uk-select">
            {% for type, val in configs.contactTypeList.items %}
              <option name="contactType" value="{{ type }}">{{ val }}</option>
            {% endfor %}
          </select>
          <label for="contactData">Контактные данные</label>
          <input type="text" class="uk-input" name="contactData" id="contactData" required>

          <p class="uk-text-right uk-margin-top">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <button id="request-btn-submit" class="uk-button uk-button-primary" type="submit">Отправить</button>
          </p>
        </form>
      </div>
    </div>
    <!-- Modal END -->

    <!-- This is the modal sumbit -->
    <div id="modal-submit-buy" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Спасибо за Ваш выбор!</h2>
          <p class="uk-text-left uk-margin-top">
            Ваш заказ принят в обработку, с Вами свяжутся в ближайшее время.
            Хорошего дня!
          </p>
      </div>
    </div>
    <!-- Modal END -->
  {% endif %}
  <!--========== END CART ==========-->
{% endblock %}

{% block additional_js_footer %}
  <script src="{% static '/js/pages/shoping-cart-vue.js' %}"></script>
{% endblock %}
