<div class="bg-color-sky-light" data-auto-height="true">
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-2">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-chemistry"></i>
                        </div>
                        <div class="service-info">
                            <h3>Эксперементальные решения</h3>
                            <p class="margin-b-5">Мы не боимся и постоянно эксперементируем, для воплощения самых смелых решений</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-crop"></i>
                        </div>
                        <div class="service-info">
                            <h3>Любые размеры</h3>
                            <p class="margin-b-5">Выполнение индивидуальных заказов, как размера так и пошива</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-puzzle"></i>
                        </div>
                        <div class="service-info">
                            <h3>Материал самого высокого качества</h3>
                            <p class="margin-b-5">Европейские поставщики материалов высочайшего качества, за качество несем личную ответсвенность</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->

        <div class="row row-space-1">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-check"></i>
                        </div>
                        <div class="service-info">
                            <h3>Проверка качества</h3>
                            <p class="margin-b-5">Все изделя выполняются вручную, мастерами с большим опытом</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-speedometer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Быстрое выполнение индивидуального заказа</h3>
                            <p class="margin-b-5">Выполнение вашего уникального заказа в кратчайшие сроки, и доставка почтой при необходимости</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-star"></i>
                        </div>
                        <div class="service-info">
                            <h3>Уникальность</h3>
                            <p class="margin-b-5">Каждое изделие выполнено уникальным. И создано для тех, кто хочет выделится!</p>
                        </div>
                        {#<a href="#" class="content-wrapper-link"></a>#}
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
