{#{% load webp_converter %}#}
<div class="content-lg container">
  <div class="row margin-b-40">
    <div class="col-sm-6">
      <h2>Топы продаж</h2>
      {#<p>Top sale list</p>#}
    </div>
  </div>
  <!--// end row -->

  <div class="row">
    <!-- Topsale Products -->
    {% for product in top_sale %}
      <div class="col-sm-4 sm-margin-b-50">
        <a class="link" href="{% url 'shop:product' product.id %}">
          {#<div class="uk-text-center">#}
          {#    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">#}
          {#        <img src="images/dark.jpg" alt="">#}
          {#        <img class="uk-transition-scale-up uk-position-cover" src="images/light.jpg" alt="">#}
          {#    </div>#}
          {#    <p class="uk-margin-small-top">2 Images</p>#}
          {#</div>#}

          <div class="margin-b-20 uk-text-center">
            {% with a=product.imgs.all.0 %}
            <div class="wow zoomIn uk-inline-clip uk-transition-toggle" data-wow-duration=".3" data-wow-delay=".1s">
              {% endwith %}
              <img class="img-responsive" src="{{ product.imgs.all.0.image.url }}" alt="Topsale Products Image">
              <img class="uk-transition-scale-up uk-position-cover" src="{{ product.imgs.all.1.image.url }}" alt="Topsale Products Image">
            </div>
          </div>
        </a>
        {#<h4><a href="#">{{ product.type_title }}</a>#}
        <span class="text-uppercase">{{ product.title }}</span>
        {#</h4>#}
{#        <p>{{ product.description }}</p>#}
        {#<a class="link" href="/product/{{ product.id }}">Детальнее</a>#}
      </div>
    {% endfor %}
    <!-- End Topsale Products -->
  </div>
  <!--// end row -->
</div>
